/* 定义字体 */
@font-face {
  font-family: 'A10';
  src: url('../fonts/A10-FashionBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A77';
  src: url('../fonts/A77-YanLingTiJian.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AlimamaShuHeiTi';
  src: url('../fonts/AlimamaShuHeiTi-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}